<div class="form-group">
  <ul>
    <li>Double-tap to add nodes</li>
    <li>Click-and-drag selections</li>
  </ul>
</div>
<div class="form-group btn-group btn-group-sm">
  <button class="btn btn-default" data-ui="join"><u>J</u>oin</button>
  <button class="btn btn-default" data-ui="break"><u>B</u>reak</button>
  <button class="btn btn-default" data-ui="polygon"><u>P</u>olygon</button>
</div>
<hr>
<fieldset class="form-group text-center">
  <button class="btn btn-danger" data-ui="remove">Remove Grid</button>
</fieldset>