<div class="navbar navbar-default">
  <div class="navbar-form navbar-left">
    <button class="btn btn-default" data-ui="done">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
  </div>
  <span class="navbar-brand"><%= d.slug %></span>
</div>
<fieldset class="form-group">
  <div class="col-50">
    <label for="layer-slug" class="control-label">Slug</label>
    <input id="layer-slug" class="form-control" type="text" readonly="readonly" value="<%= d.slug %>" name="slug">
  </div>
  <div class="col-50">
    <label for="layer-group" class="control-label">Group</label>
    <input id="layer-group" class="form-control" type="text" readonly="readonly" value="<%= d.group %>" name="group">
  </div>
  <a href="#" data-ui="update">Update layer identity</a>
</fieldset>
<hr>
<fieldset class="form-group">
  <label for="layer-img-state" class="control-label">Image State</label>
  <input id="layer-img-state" class="form-control" type="text" value="<%= d.img_state %>" name="img_state">
</fieldset>
<fieldset class="form-group">
  <div class="col-50">
    <label for="layer-img-x" class="control-label">X</label>
    <input id="layer-img-x" class="form-control" type="text" value="<%= d.img_x %>" name="img_x" data-type="number">
  </div>
  <div class="col-50">
    <label for="layer-img-y" class="control-label">Y</label>
    <input id="layer-img-y" class="form-control" type="text" value="<%= d.img_y %>" name="img_y" data-type="number">
  </div>
</fieldset>
<fieldset class="form-group">
  <div class="col-50">
    <label for="layer-img-w" class="control-label">X-scale</label>
    <input id="layer-img-w" class="form-control" type="text" value="<%= d.img_w %>" name="img_w" data-type="number">
  </div>
  <div class="col-50">
    <label for="layer-img-h" class="control-label">Y-scale</label>
    <input id="layer-img-h" class="form-control" type="text" value="<%= d.img_h %>" name="img_h" data-type="number">
  </div>
</fieldset>
<hr>
<fieldset class="form-group">
  <label for="layer-map-orientation">Walk-to Orientation</label>
  <select id="layer-map-orientation" class="form-control" name="map_orientation" data-type="number">
    <option value="0" <%= d.map_orientation === 0 ? 'selected="selected"' : '' %>>Back</option>
    <option value="1" <%= d.map_orientation === 1 ? 'selected="selected"' : '' %>>Right Back-Quarter</option>
    <option value="2" <%= d.map_orientation === 2 ? 'selected="selected"' : '' %>>Right Side</option>
    <option value="3" <%= d.map_orientation === 3 ? 'selected="selected"' : '' %>>Right Front-Quarter</option>
    <option value="4" <%= d.map_orientation === 4 ? 'selected="selected"' : '' %>>Front</option>
    <option value="5" <%= d.map_orientation === 5 ? 'selected="selected"' : '' %>>Left Front-Quarter</option>
    <option value="6" <%= d.map_orientation === 6 ? 'selected="selected"' : '' %>>Left Side</option>
    <option value="7" <%= d.map_orientation === 7 ? 'selected="selected"' : '' %>>Left Back-Quarter</option>
  </select>
</fieldset>
<fieldset class="form-group">
  <div class="col-50">
    <label for="layer-map-x" class="control-label">Ground-X</label>
    <input id="layer-map-x" class="form-control" type="text" value="<%= d.map_x %>" name="map_x" data-type="number">
  </div>
  <div class="col-50">
    <label for="layer-map-y" class="control-label">Ground-Y</label>
    <input id="layer-map-y" class="form-control" type="text" value="<%= d.map_y %>" name="map_y" data-type="number">
  </div>
</fieldset>
<hr>
<fieldset class="form-group">
  <label for="layer-interactive" class="control-label">Interactive</label>
  <input id="layer-interactive" type="checkbox" <%= d.interactive ? 'checked="checked"' : '' %> name="interactive">
</fieldset>
<div id="interactive-controls"<%= d.interactive ? '' : ' style="display:none;"' %>>
  <fieldset class="form-group">
    <label for="layer-hit-shape">Hit Area Shape</label>
    <select id="layer-hit-shape" class="form-control" name="hit_shape">
      <option value="rect">Rectangle</option>
      <option value="oval" <%= d.hit_shape === 'oval' ? 'selected="selected"' : '' %>>Ellipse</option>
      <option value="px" <%= d.hit_shape === 'px' ? 'selected="selected"' : '' %>>Pixels</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <div class="col-50">
      <label for="layer-hit-x" class="control-label">Hit-X</label>
      <input id="layer-hit-x" class="form-control" type="text" value="<%= d.hit_x %>" name="hit_x" data-type="number">
    </div>
    <div class="col-50">
      <label for="layer-hit-y" class="control-label">Hit-Y</label>
      <input id="layer-hit-y" class="form-control" type="text" value="<%= d.hit_y %>" name="hit_y" data-type="number">
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="col-50">
      <label for="layer-hit-w" class="control-label">Hit-Width</label>
      <input id="layer-hit-w" class="form-control" type="text" value="<%= d.hit_w %>" name="hit_w" data-type="number">
    </div>
    <div class="col-50">
      <label for="layer-hit-h" class="control-label">Hit-Height</label>
      <input id="layer-hit-h" class="form-control" type="text" value="<%= d.hit_h %>" name="hit_h" data-type="number">
    </div>
  </fieldset>
</div>
<hr>
<fieldset class="form-group">
  <label for="layer-float" class="control-label">Float Ordering</label>
  <input id="layer-float" type="checkbox" <%= d.float_enabled ? 'checked="checked"' : '' %> name="float_enabled">
</fieldset>
<div id="float-controls"<%= d.float_enabled ? '' : ' style="display:none;"' %>>
  <fieldset class="form-group">
    <div class="col-50">
      <label for="layer-float-x" class="control-label">Float-X</label>
      <input id="layer-float-x" class="form-control" type="text" value="<%= d.float_x %>" name="float_x" data-type="number">
    </div>
    <div class="col-50">
      <label for="layer-float-y" class="control-label">Float-Y</label>
      <input id="layer-float-y" class="form-control" type="text" value="<%= d.float_y %>" name="float_y" data-type="number">
    </div>
  </fieldset>
</div>
<hr>
<fieldset class="form-group">
  <label for="layer-grid">Grid</label>
  <select id="layer-grid" class="form-control" name="grid">
    <option value="0">Default</option>
  </select>
</fieldset>
<fieldset class="form-group">
  <label for="layer-grid">Scale Matrix</label>
  <select id="layer-grid" class="form-control" name="filter_scale">
    <option value="0">Default</option>
  </select>
</fieldset>
<fieldset class="form-group">
  <label for="layer-grid">Color Matrix</label>
  <select id="layer-grid" class="form-control" name="filter_color">
    <option value="0">Default</option>
  </select>
</fieldset>
<hr>
<fieldset class="form-group">
  <label for="layer-render">Visible</label>
  <input id="layer-render" type="checkbox" <%= d.visible ? 'checked="checked"' : '' %> name="visible">
</fieldset>
<fieldset class="form-group text-center">
  <button class="btn btn-danger" data-ui="remove">Remove Layer</button>
</fieldset>