<h2 class="text-center"><%= d.slug ? 'Edit' : 'Add' %> <%= d.title || '' %></h2>
<fieldset class="form-group">
  <label for="edit-slug" class="control-label col-sm-4">Slug<sup>*</sup></label>
  <div class="col-sm-8">
    <input id="edit-slug" class="form-control" type="text" value="<%= d.slug %>" name="slug">
    <span class="error"></span>
  </div>
</fieldset>
<fieldset class="form-group">
  <div class="col-sm-offset-4 col-sm-8">
    <button class="btn btn-primary" data-ui="confirm"><%= d.slug ? 'Update' : 'Add' %></button>
    <button class="btn btn-default" data-ui="cancel">Cancel</button>
  </div>
</fieldset>